.movieCardMain {
  margin: 30px;
  position: relative;
  color: whitesmoke !important;
  height: 575px !important;
}

.movieCardTitle a{
  color: whitesmoke !important;
}

.movieCardTitle {
  width: 300px !important; 
}

.movieCardIcon {
  margin: 2px;
  max-height: 250px;
}

.movieCardContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "movieCard movieCard movieCard movieCard";
  border-radius: 50px !important;
}

.movieButtonContainer {
  position: absolute;
  width: 300px !important;
  top: 76%;
}



.movieImageCard {
  width: 300px;
  height: 450px;
  grid-area: movieCard;
  border-radius: 12px;
 
}

/* SECTION: Buttons */
.discardMovieButton {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.336);
  position: absolute;
  right: 0;
  width: 33.3%;
  text-align: center !important;
  transition: transform 250ms, background-color 0.25s ease;
}

.movieSaved {
  background-color: rgb(22, 22, 22);
}

/* REMOVE MOVIE BUTTON */

.removeMovieIcon {
  position: absolute;
  right: 0;
  padding: 15px;
  bottom: 340px;
  right: -5px;
}


.Toastify__progress-bar--default {
  background-color: red;
  color: red;
}



/* IPHONE 5  */

@media only screen and (max-device-width : 375px) and (max-height: 570px) {
  body {
      min-height: 100vh;
      min-height: -webkit-fill-available;
    }
    
    html {
      height: -webkit-fill-available;
      width: -webkit-fill-available;
    }

    .movieCardMain {
      margin: 30px;
      position: relative;
      color: whitesmoke !important;
    
    }
    
    .movieCardTitle a{
      color: whitesmoke !important;
    }
    
    .movieCardTitle {
      width: 300px !important; 
      font-size: 25px;
    }
    
    .movieCardIcon {
      margin: 2px;
      max-height: 250px;
    }
    
    .movieCardContainer {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: 
      "movieCard";
      border-radius: 50px !important;
    }
    
    .movieButtonContainer {
      position: absolute;
      width: 300px !important;
      top: 76%;
    }
    
    .movieImageCard {
      width: 300px;
      height: 450px;
      grid-area: movieCard;
      border-radius: 12px;
    }
    
    /* SECTION: Buttons */
    .discardMovieButton {
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.336);
      position: absolute;
      right: 0;
      width: 33.3%;
      text-align: center !important;
      transition: transform 250ms, background-color 0.25s ease;
    }
    
    .movieSaved {
      background-color: rgb(22, 22, 22);
    }

    


  
}

/* IPHONE 6/7/8 */

@media only screen and (min-device-width : 375px) and (min-height: 600px) and (max-height: 768px) {

  .movieCardMain {
    margin: 30px;
    position: relative;
    color: whitesmoke !important;
  
  }
  
  .movieCardTitle a{
    color: whitesmoke !important;
  }
  
  .movieCardTitle {
    width: 300px !important; 
    font-size: 25px;
  }
  
  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }
  
  .movieCardContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "movieCard";
    border-radius: 50px !important;
  }
  
  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }
  
  .movieImageCard {
    width: 300px;
    height: 450px;
    grid-area: movieCard;
    border-radius: 12px;
  }
  
  /* SECTION: Buttons */
  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }
  
  .movieSaved {
    background-color: rgb(22, 22, 22);
  }



}

/* IPHONE X */

@media only screen and (min-device-width : 375px) and (min-height: 768px) and (max-height: 820px) {

  .movieCardMain {
    margin: 30px;
    position: relative;
    color: whitesmoke !important;
  
  }
  
  .movieCardTitle a{
    color: whitesmoke !important;
  }
  
  .movieCardTitle {
    width: 300px !important; 
    font-size: 25px;
  }
  
  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }
  
  .movieCardContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "movieCard";
    border-radius: 50px !important;
  }
  
  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }
  
  .movieImageCard {
    width: 300px;
    height: 450px;
    grid-area: movieCard;
    border-radius: 12px;
  }
  
  /* SECTION: Buttons */
  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }
  
  .movieSaved {
    background-color: rgb(22, 22, 22);
  }


}


/* IPAD */

@media only screen and (min-device-width : 700px) and (max-width: 800px) and (min-height: 900px) and (max-height: 1024px) {

  .movieCardMain {
    margin: 30px;
    position: relative;
    color: whitesmoke !important;
  
  }
  
  .movieCardTitle a{
    color: whitesmoke !important;
  }
  
  .movieCardTitle {
    width: 300px !important; 
    font-size: 25px;
  }
  
  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }
  
  .movieCardContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "movieCard ";
    border-radius: 50px !important;
  }
  
  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }
  
  .movieImageCard {
    width: 300px;
    height: 450px;
    grid-area: movieCard;
    border-radius: 12px;
  }
  
  /* SECTION: Buttons */
  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }
  
  .movieSaved {
    background-color: rgb(22, 22, 22);
  }


}

/* IPAD PRO / SMALL LAPTOP */


@media only screen and (min-device-width : 1024px) and (max-width: 1200px)  {

  .movieCardMain {
    margin: 30px;
    position: relative;
    color: whitesmoke !important;
  
  }
  
  .movieCardTitle a{
    color: whitesmoke !important;
  }
  
  .movieCardTitle {
    width: 300px !important; 
    font-size: 25px;
  }
  
  .movieCardIcon {
    margin: 2px;
    max-height: 250px;
  }
  
  .movieCardContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: 
    "movieCard";
    border-radius: 50px !important;
  }
  
  .movieButtonContainer {
    position: absolute;
    width: 300px !important;
    top: 76%;
  }
  
  .movieImageCard {
    width: 300px;
    height: 450px;
    grid-area: movieCard;
    border-radius: 12px;
  }
  
  /* SECTION: Buttons */
  .discardMovieButton {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.336);
    position: absolute;
    right: 0;
    width: 33.3%;
    text-align: center !important;
    transition: transform 250ms, background-color 0.25s ease;
  }
  
  .movieSaved {
    background-color: rgb(22, 22, 22);
  }

}


